# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
/.idea.GAME3033_Final_Primal.iml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\nabil\Documents\School Code\Year 3\GAME3033-GameEngine4\GAME3033_Final_Primal\.idea\.idea.GAME3033_Final_Primal\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
